*.swp
*.dia~
*.log

.DS_Store
.editorconfig
.env.build
.env.dev
.editorconfig
.eslintcache
.git
.gitignore
.idea
.npmignore
.npmrc

dist.zip
docs
logs
npm-debug.log*
package-lock.json
rel.zip
scaffold.config.js
vendor*
yarn-debug.log*
yarn-error.log*
yarn.lock

**/dist
**/rel
**/coverage
**/node_modules
**/public

src/common/localButton.js
src/common/localMenu.js
src/common/router.js

src/services/systems/userService.js
src/models/systems/userModel.js
src/models/systems/globalModel.js
src/utils/utils.test.js
src/index.js
src/root.js
src/routerConfig.js
