*.swp
*.dia~
*.log

**/dist
**/rel
**/coverage
**/node_modules
**/public
**/.vscode

.DS_Store
.editorconfig
.env.build
.env.dev
.eslintcache
.eslintignore
.git
.gitignore
.npmignore
.npmrc

npm-debug.log
package-lock.json
rel.zip
dist.zip
jsconfig.json

src/common/localButton.js
src/common/localMenu.js
src/common/router.js

src/models/systems/userModel.js
src/models/systems/globalModel.js
src/utils/utils.test.js
src/index.js
src/root.js
src/routerConfig.js
