/*
 * @Author: objectivezt
 * @Date: 2018-09-05 17:35:44
 * @Last Modified by: objectivezt
 * @Last Modified time: 2020-09-13 18:03:10
 */
.menu {
  :global(.anticon) {
    margin-right: 8px;
  }

  width:144px;
  left:-12px;
}
